*{
    border:0;
    font:inherit;
    font-size:1em;
    margin:0;
    padding:0;
    vertical-align:baseline;
}
body{
    background-color: lightgreen;
    background-size: cover;
    background-attachment: fixed;
    color: #505050;
    text-align:left;
    font-family:'Roboto',sans-serif;
    font-size:1em;
    line-height:1.5em;
    margin: 60px auto;
    width: 1000px;
}

.title{color: white}
.title1{color: #505050; font-size:0.50em;}
.banner {position: relative; font-family:'Roboto Slab',serif;}
.top-left {font-size:5.33em; color: #505050; background: #fafafa; text-align: center; width: 1000px; height: 67px; position: absolute; padding: 36px 0 0 0; top: 0px;}
.bottom-right {font-size:2.33em; color: #fafafa; line-height: 1.5em; width: auto; height: 100px; padding: 0px 27px 27px 0px; text-align: right; position: absolute; bottom: 0px; right: 0px; text-shadow: 0px 0px 6px #000000;}
table.navigation{width:950px;}
td.navigation{font-size:1.67em; white-space:nowrap; width:20%; text-align:center; vertical-align:middle; padding:0px 0px 0px 0px;}
a{color: white; text-decoration:none;}
a.current{color: white;}
a.current:hover{color: #e82945;}
a:hover{color: #b2132e;}
a:active{color: #e82945;}
h1{clear:left; color: green;font-size:2.00em; margin:1.5em 0em 1em 0em; font-family:'Roboto Slab',serif;}
h2{clear:left; color: black;font-size:1.30em; margin:1.5em 0em 1em 0em; font-family:'Roboto Slab',serif;}
p{list-style:none; margin:24px auto 24px auto; padding:0px; width:900px; text-align:left;}
p.timer{list-style:none; margin:24px auto 24px auto; padding:0px; width:900px; text-align:left;}
table.sponsors{width:650px;}
td.sponsor{white-space:nowrap; text-align:center; vertical-align:middle; padding:0px 0px 0px 0px;}
td.sponsor img{width: 100%}
table{
    width: 1000px;
    margin: 12px auto 24px auto;
    float: center;

}
th,td{
    text-align: left;

}
table.footer{font-size:0.875em; margin: 72px auto 12px auto; width:333px;}
td.footer{width:auto; text-align:center; vertical-align:middle;}
