body{
    background-color: lightgreen;
    background-size: cover;
    background-attachment: fixed;
    color: #505050;
    text-align:left;
    font-family:'Roboto',sans-serif;
    font-size:1em;
    line-height:1.5em;
    margin: 60px auto;
    width: 1000px;
}
table{
    width: 1000px;
    margin: 12px auto 24px auto;
    float: center;

}
th,td{
    text-align: left;

}

a{color: white; text-decoration:none;}
a:hover{color: #b2132e;}
a:active{color: #e82945;}
.banner {position: relative; font-family:'Roboto Slab',serif;}
.top-left {font-size:5.33em; color: #505050; background: #fafafa; text-align: center; width: 1000px; height: 67px; position: absolute; padding: 36px 0 0 0; top: 0px;}
.bottom-right {font-size:2.33em; color: #fafafa; line-height: 1.5em; width: auto; height: 100px; padding: 0px 27px 27px 0px; text-align: right; position: absolute; bottom: 0px; right: 0px;}


.title{color: white}
.title1{color: #505050; font-size:0.50em;}


table.navigation{width:950px;}
td.navigation{font-size:1.67em; white-space:nowrap; width:20%; text-align:center; vertical-align:middle; padding:0px 0px 0px 0px;}
h1{clear:left; color: green;font-size:2.00em; margin:1.5em 0em 1em 0em; font-family:'Roboto Slab',serif; }
td.room{padding: 4px 12px 4px 4px; width: 90%; vertical-align:bottom; font-size:1.67em; color: #52739e; height:32px;}
td.date{white-space:nowrap; width:130px; text-align:right; vertical-align:top; padding:4px 16px 0px 0px;}
td.title{padding: 4px 12px 4px 4px; width: 90%; vertical-align:top; font-size:1.5em; color: white; height:32px; font-family:'Roboto Slab',serif;}
td.title-special{padding: 4px 12px 4px 4px; width: 90%; vertical-align:top; font-size:1.67em; color: #52739e; height:32px; font-family:'Roboto Slab',serif; }
td.speaker{padding: 4px 12px 4px 4px; font-style: italic; font-size:1em; max-height:999999px}
td.abstract{padding: 4px 12px 12px 4px; font-size:1em; max-height:999999px}
td.abstract img{display: block; margin: 4px auto 8px auto}
table.plenary{padding-top: 8px;}


table.footer{font-size:0.875em; margin: 72px auto 12px auto; width:333px;}
td.footer{width:auto; text-align:center; vertical-align:middle;}
